<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Digit Recognizer</title>
  <link rel="stylesheet" href="/static/style.css" />
</head>
<body>
  <div class="container">
    <h1>Draw a Math expression</h1>

    <canvas id="canvas" width="1000" height="280"></canvas>

    <div class="buttons">
      <button id="predictBtn">Evaluate</button>
      <button id="clearBtn">Clear</button>
    </div>
    <p class="expr">Expression: <span id="expr">—</span></p>
    <p class="result">Result: <span id="result">—</span></p>
  </div>

  <script src="/static/script.js"></script>
</body>
</html>
